
@using AdminPage.Models
@model AdminPage.Models.IndexViewModel
<!--импортируем tag-хелперы проекта-->
@addTagHelper *, AdminPage

<!Doctype html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Style.css" />
</head>
<body>
    <div>
        <a asp-action="AddUser"> Добавить пользователя</a>
    </div>
    <div>
        <h3>Список пользователей</h3>
        <form method="get">
            <div>
                <label>Имя: </label>
                <input name="name" value="@Model.FilterViewModel.SelectedName" />
                <input type="submit" value="Фильтр" />
            </div>
        </form>


        <table class="table">
            <tr>
                @*th - Заголовок cтолбца таблицы
                Используется tag-хэлпер SortViewModel находящейся в папке Models*@
                <th>
                    <a asp-action="Index" 
                       asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)">
                        Имя
                    </a>
                </th>
            </tr>

            @foreach (var user in Model.User)
            {

                <tr>
                    <td>
                        @user.name
                        <a asp-action="Details" asp-controller="Home" asp-route-id=" @user.id">Подробнее</a>
                        <a asp-action="Edit" asp-controller="Home" asp-route-id=" @user.id">Изменить</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-id=" @user.id">Удалить</a>
                    </td>
                </tr>

            }
        </table>
    <page-link page-model="Model.PageViewModel" page-action="Index"
               page-url-name="@(Model.FilterViewModel.SelectedName)"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
    </div>
</body>
</html>